# all target dirs
target/
build/
out/
bin/

# IntelliJ.
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.project
.classpath
.vscode 

# gradle
.gradle/
#!gradle-wrapper.jar
#!gradle-wrapper.properties
